@import 'todomvc-app-css/index.css';
@import 'todomvc-common/base.css';

body {
  min-width: 0 !important;
  max-width: none !important;
  padding: 10px !important;
}

.container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 50%);
}
 h1{
  text-align: left !important;
  font-size: 50px !important;
}